In [ ]:
# !pip install pythainlp

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [1]:
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from nltk.tokenize import word_tokenize
from tqdm import tqdm
from pythainlp.tokenize import word_tokenize
import matplotlib.pyplot as plt

In [2]:
base = '../../'
# base = 'drive/My Drive/Kaggle/Wongnai Challenge Review Rating Prediction/'

In [3]:
df = pd.read_excel(base + 'data.xlsx')
df.head(3)

                                              review  rating
0  ร้านอาหารใหญ่มากกกกกกก \nเลี้ยวเข้ามาเจอห้องน้...       3
1  อาหารที่นี่เป็นอาหารจีนแคะที่หากินยากในบ้านเรา...       4
2  ปอเปี๊ยะสด ทุกวันนี้รู้สึกว่าหากินยาก (ร้านที่...       3

In [4]:
df.groupby('rating').count()

        review
rating
1          415
2         1845
3        12171
4        18768
5         6794

In [5]:
corpus = df['review'].to_numpy()
arr = df.to_numpy()
# zeros = np.zeros((arr.shape[0], 1))
# arr = np.hstack((zeros, arr))

arr_list = []

for i, sentence in tqdm(enumerate(corpus)):
    tokens = word_tokenize(sentence)
    curr_len = len(tokens)
    
    arr_list.append((curr_len, arr[i][0], arr[i][1]))
    
    arr[i][0] = curr_len

39993it [00:55, 718.54it/s]

In [ ]:
# plt.hist(arr[:, 2], bins=1000, range=(0, 500))

In [6]:
for i in arr_list:
    if i[0] == 8:
        print(i)
        break

(8, 'อร่อย สะอาด ปลอดภัยแน่นอนค่า                                                                                                                                                                               ', 4)

In [7]:
arr_sorted = sorted(arr_list)
len(arr_sorted)

39993

In [9]:
max_n_sentence_each_targets = 199
cnt = [0] * 7
out_list = []
for a in arr_sorted:
    len_sentence = a[0]
    sentence = a[1]
    target = int(a[2])
    
    if cnt[target] <= max_n_sentence_each_targets:
        out_list.append([sentence, int(target), int(len_sentence)])
        
        cnt[target] += 1
    
    if sum(cnt) == 1000:
        break

In [10]:
len(out_list)

1000

In [11]:
out = np.array(out_list)
np.max(out[:, 2].astype(int))

114

In [12]:
out.shape

(1000, 3)

In [13]:
out

array([['อร่อย สะอาด ปลอดภัยแน่นอนค่า                                                                                                                                                                               ',
        '4', '8'],
       ['คืออาหารอร่อยมาก คือชอบ ❤️❤️❤️❤️❤️❤️❤️❤️????❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️❤️',
        '5', '9'],
       ['ปลาสด อาหารอร่อยแบบบ้าน ๆ ที่จอดรถสะดวก                                                                                                                                                                         ',
        '3', '13'],
       ...,
       ['จุดเด่นของร้านนี้คือเบียร์ถูก ช้าง export buffet หัวละ 159 บาทเติมทั้งคืน\nส่วนอาหารค่อนข้างธรรมดาราคาไม่แพง\nแต่ปัญหาคืออาหารสั่งแล้วได้ผิดหลายเมนู บางอย่างก็ไม่มา หายไปเลย\nเจอข้าวผัดปูโหดร้ายมาก สั่งมา2จานเล็ก ได้เนื้อปูชิ้นเล็กๆจานละ2ชิ้น เท่ากันเป๊ะเลย\nรออาหารนานมาก เช็คบิลนานมาก ถ้าอาหารทั้งเก็บเงินคือถ้าไม่ทวงก็ต้องรอไม่รู้เมื่อไร แต่พอทวงปุ๊ปได้ปั๊ปเลย แปลกจริงๆ',
        '1', '114'],
       ['ตั้งใจมาซื้อชีสทาร์ตชื่อดังซึ่งจริงๆแล้วไม่ต้องรอคิว สามารถซื้อแล้วรับขนมได้เลย(ถ้าเป็นเครปต้องรอคิวค่ะ) แต่พนักงานกลับโบ้ยไปมาให้ออเดอร์ด้านข้างบ้างด้านหน้าบ้าง พอรับออเดอร์ไปก็ลืม เราก็คิดว่าชีสทาร์ตเค้าอาจจะต้องอบใหม่ร้อนๆก่อนขายเลยยืนรอเกือบ 30 นาที พอท้วงไปพนง.กลับบอกว่าไม่มีออเดอร์เข้ามา เช็คอีกทีคือกระดาษออเดอร์แปะอยู่ข้างหน้าแต่ลืม ไม่มีแม้แต่คำขอโทษหรือขอบคุณ ขาดหัวใจของการบริการมาก เสียความรู้สึกค่ะ',
        '1', '114'],
       ['วันนั้นที่เลือกทานเพราะเป็นวันเกิดอยากกินอะไรเบาๆ จะไปทานขนมต่อได้ สุดท้ายมาเลือกร้านนี้ทานผักไม่ยุ่งยาก สั่งจานแรกเฝอ แค่ชิมน้ำก็ไม่ผ่านแล้วคะ ไม่ปลื้มมากขนาดปรุงเพิ่ม จานที่สองก็สั่งของแฟนก็ไม่โอเคคะ มองตากันปริบๆ ว่าพลาดแล้วเรา เสียดายเสียใจมากคะ บริการก็ไม่ได้ดีมากด้วย สั่งอะไรไป พนง ดูมึนๆ กว่าจะรับออเดอร์เสร็จ ไม่ประทับใจเลยคะ ราคาไม่ได้ถูกด้วยจ้า ????',
        '1', '114']], dtype='<U432')

In [14]:
df_sort = pd.DataFrame(out[:, 0: 2], columns=['review', 'rating'])

In [15]:
# df_sort = df.sample(frac=1, random_state=1).reset_index(drop=True)
df_sort.head(3)

                                              review rating
0  อร่อย สะอาด ปลอดภัยแน่นอนค่า                  ...      4
1  คืออาหารอร่อยมาก คือชอบ ❤️❤️❤️❤️❤️❤️❤️❤️????❤️...      5
2  ปลาสด อาหารอร่อยแบบบ้าน ๆ ที่จอดรถสะดวก       ...      3

In [16]:
df_clean = df_sort

In [17]:
# df_clean = pd.concat([df_sort[:1000], df_sort[-1000:]])

In [18]:
df_clean.groupby('rating').count()

        review
rating
1          200
2          200
3          200
4          200
5          200

In [19]:
corpus = df_clean['review'].to_numpy()

# vectorizer = CountVectorizer()
# X = vectorizer.fit_transform(corpus)
# X

In [20]:
# import io

# def load_vectors(fname):
#     fin = io.open(fname, 'r', encoding='utf-8', newline='\n', errors='ignore')
#     n, d = map(int, fin.readline().split())
#     data = {}
#     it = 0
#     for line in tqdm(fin):
#         tokens = line.rstrip().split(' ')
#         data[tokens[0]] = list(map(float, tokens[1:]))

#         if it < 10:
#             break
#         it += 1
#     return data
# word_vectors = load_vectors(base + 'cc.th.300/cc.th.300.vec')

In [21]:
# len(word_vectors['ที่'])

In [22]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\user\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [23]:
word_set = set()
max_len = 0
curr_id = 0

for sentence in tqdm(corpus):
    # sentence_vector = []
    tokens = word_tokenize(sentence)
    curr_len = len(tokens)
    max_len = max(max_len, curr_len)

    for token in tokens:
        word_set.add(token)

100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 1465.52it/s]

In [24]:
max_len

114

In [25]:
len(word_set)

5329

In [26]:
import io

def load_vectors(fname):
    fin = io.open(fname, 'r', encoding='utf-8', newline='\n', errors='ignore')
    n, d = map(int, fin.readline().split())
    data = {}
    for line in tqdm(fin):
        tokens = line.rstrip().split(' ')
        if tokens[0] in word_set:
            data[tokens[0]] = list(map(float, tokens[1:]))
    return data
word_vectors = load_vectors(base + 'cc.th.300/cc.th.300.vec')

2000000it [00:44, 45364.77it/s]

In [27]:
len(word_vectors)

3344

In [28]:
max_len = 0
curr_id = 0
id_list = []
feature_list = []

for sentence in tqdm(corpus):
    sentence_vector = []
    tokens = word_tokenize(sentence)
    for word in tokens:
        try:
            vec = word_vectors[word]
        except KeyError:
            continue
        sentence_vector.append(vec)
        
    feature_list.append(sentence_vector)
    curr_len = len(sentence_vector)
    curr_id += curr_len
    id_list.append(curr_id)
    
    max_len = max(max_len, curr_len)

100%|████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:00<00:00, 1906.00it/s]

In [29]:
max_len

97

In [30]:
target = df_clean['rating'].to_numpy()

In [31]:
# from google.colab import files

# f = open(base + "wongnai_word2vec_dataset.csv", "a")

with open(base + "wongnai_padding_word2vec_dataset.csv", 'w') as f:
    # header
    for i in range(300):
        f.write('{},'.format(i))
    f.write('target\n')

    # a sentence vector
    target_id = 0
    for sentence in tqdm(feature_list):
        length = len(sentence)
        
        # padding
        for i in range(max_len - length):
            for j in range(300):
                f.write('{},'.format(0))
            f.write('{}\n'.format(target[target_id]))
        
        for word in sentence:
            for val in word:
                f.write('{},'.format(val))
            f.write('{}\n'.format(target[target_id]))

        # increase index of target
        target_id += 1
    
f.close()
# files.download(base + "wongnai_word2vec_dataset.csv")
# !cat /content/drive/My\ Drive/Kaggle/Wongnai\ Challenge\ Review\ Rating\ Prediction/wongnai_word2vec_dataset.csv

100%|██████████████████████████████████████████████████████████████████████████████| 1000/1000 [00:28<00:00, 35.26it/s]

In [ ]:
# import pandas as pd
# import numpy as np

# df = pd.read_csv('wongnai_word2vec_dataset.csv')
# df.shape